@model PluginConfiguration

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="GoogleMapsIntegration" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    @Html.Raw(T($"{Defaults.ResourcesNamePrefix}.Instructions"))
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiKey" asp-required="true" asp-value="@Model.ApiKey" />
                        <span asp-validation-for="ApiKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AddressAutocompleteEnabled" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddressAutocompleteEnabled" />
                        <span asp-validation-for="AddressAutocompleteEnabled"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="GetAddressFromCoordinatesEnabled" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="GetAddressFromCoordinatesEnabled" />
                        <span asp-validation-for="GetAddressFromCoordinatesEnabled"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SelectAddresFromMapEnabled" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SelectAddresFromMapEnabled" />
                        <span asp-validation-for="SelectAddresFromMapEnabled"></span>
                    </div>
                </div>
                <div class="advanced-setting">
                    <script>
                        $(document).ready(function () {
                            $("#@Html.IdFor(model => model.MapBoundariesEnabled)").click(toggleDisplayAdvanceConfig);
                            $("#@Html.IdFor(model => model.DefaultLatLngEnabled)").click(toggleDisplayAdvanceConfig);

                            toggleDisplayAdvanceConfig();
                        });

                        function toggleDisplayAdvanceConfig() {
                            if ($('#@Html.IdFor(model => model.MapBoundariesEnabled)').is(':checked')) {
                                $('#dvMapBoundariesEnabled').show();
                            }
                            else {
                                $('#dvMapBoundariesEnabled').hide();
                            }

                            if ($('#@Html.IdFor(model => model.DefaultLatLngEnabled)').is(':checked')) {
                                $('#dvDefaultLatLngEnabled').show();
                            }
                            else {
                                $('#dvDefaultLatLngEnabled').hide();
                            }
                        }
                    </script>
                    <div class="form-group advanced-setting">
                        <div class="col-md-3">
                            <nop-label asp-for="MapBoundariesEnabled" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="MapBoundariesEnabled" />
                            <span asp-validation-for="MapBoundariesEnabled"></span>
                        </div>
                    </div>
                    <nop-nested-setting asp-for="MapBoundariesEnabled">
                        <div id="dvMapBoundariesEnabled">
                            <div class="form-group advanced-setting">
                                <div class="col-md-3">
                                    <nop-label asp-for="NorthBound" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="NorthBound" asp-required="true" asp-value="@Model.NorthBound" />
                                    <span asp-validation-for="NorthBound"></span>
                                </div>
                            </div>
                            <div class="form-group advanced-setting">
                                <div class="col-md-3">
                                    <nop-label asp-for="SouthBound" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="SouthBound" asp-required="true" asp-value="@Model.SouthBound" />
                                    <span asp-validation-for="SouthBound"></span>
                                </div>
                            </div>
                            <div class="form-group advanced-setting">
                                <div class="col-md-3">
                                    <nop-label asp-for="WestBound" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="WestBound" asp-required="true" asp-value="@Model.WestBound" />
                                    <span asp-validation-for="WestBound"></span>
                                </div>
                            </div>
                            <div class="form-group advanced-setting">
                                <div class="col-md-3">
                                    <nop-label asp-for="EastBound" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="EastBound" asp-required="true" asp-value="@Model.EastBound" />
                                    <span asp-validation-for="EastBound"></span>
                                </div>
                            </div>
                        </div>
                    </nop-nested-setting>
                    <div class="form-group advanced-setting">
                        <div class="col-md-3">
                            <nop-label asp-for="DefaultLatLngEnabled" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="DefaultLatLngEnabled" />
                            <span asp-validation-for="DefaultLatLngEnabled"></span>
                        </div>
                    </div>
                    <nop-nested-setting asp-for="DefaultLatLngEnabled">
                        <div id="dvDefaultLatLngEnabled">
                            <div class="form-group advanced-setting">
                                <div class="col-md-3">
                                    <nop-label asp-for="DefaultLatitude" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="DefaultLatitude" asp-required="true" asp-value="@Model.DefaultLatitude" />
                                    <span asp-validation-for="DefaultLatitude"></span>
                                </div>
                            </div>
                            <div class="form-group advanced-setting">
                                <div class="col-md-3">
                                    <nop-label asp-for="DefaultLongitude" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="DefaultLongitude" asp-required="true" asp-value="@Model.DefaultLongitude" />
                                    <span asp-validation-for="DefaultLongitude"></span>
                                </div>
                            </div>
                        </div>
                    </nop-nested-setting>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>